<h3><%= @user.name %>'s Library</h3>
<ul>
	<% @user.books.each do |book| %>
		<li><%= link_to book.title, book_path(book) %></li>
	<% end %> 
</ul>

<br>

<%= form_tag(new_book_path, method: "GET") do %>
	<%= submit_tag "Add Book To Library" %>
<% end %>